<div class="row text-center mt-4">
    <div class="col">
        <h1>Historial de Estados solicitud: {{solicitud.getIdentificador()}}</h1>
    </div>
</div>


<div class="container">
    <div class="table-responsive-md mt-4">
        <table class="table table-bordered table-hover table-sm text-center table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha Desde</th>
                    <th scope="col">Fecha Hasta</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let historialEstado of solicitud.getHistorialEstado()">
                    <td>{{historialEstado.getFechaDesde() | date:'medium'}}</td>
                    <td>{{historialEstado.getFechaHasta() | date:'medium'}}</td>
                    <td>{{historialEstado.getEstado().getNombre()}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>