<app-navbar [usuario]="usuario"></app-navbar>

<ng-container *ngIf="!mostrandoSolicitud">

    <div class="row mt-4 ml-3">
        <div class="col">
            <button (click)="navegarAtras()" class="btn btn-primary btn-outline"><i
                    class="fas fa-long-arrow-alt-left"></i> Home</button>
        </div>
    </div>

    <div class="row mt-4 text-center">
        <div class="col">
            <h1>Solicitudes En Ejecución</h1>
        </div>
    </div>


    <div class="container mt-5">

        <div class="row">
            <div class="col text-center">
                <form onsubmit="return false">
                    <div class="form-group">
                        <input #identificador class="form-control" id="buscarSM" type="text"
                            placeholder="Ingresar Identificador de Solicitud de Mantenimiento"
                            (keyup)="cargarSM(identificador.value,usuario)" autofocus>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="container">


        <ng-container *ngFor="let jefe of jefes">
            <ng-container *ngFor="let proyecto of jefe.getProyectosQueDirige()">
                <ng-container *ngIf="usuario === jefe.usuario.nombreUsuario">
                    <ng-container *ngIf="proyecto.solicitudes.length === 0">
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    No se encontraron solicitudes con el termino "{{idSolicitud}}"
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="getEnEjecucion().length === 0 ">
                            <div class="row">
                                    <div class="col">
                                        <div class="alert alert-danger" role="alert">
                                            No hay solicitudes En Ejecución
                                        </div>
                                    </div>
                                </div>
                    </ng-container>

                    <ng-container *ngIf="proyecto.solicitudes.length > 0 && getEnEjecucion().length > 0 ">
                        <div class="table-responsive-md">
                            <table class="table table-bordered table-hover table-sm text-center table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Identificador de SM</th>
                                        <th scope="col">Nombre Proyecto</th>
                                        <th scope="col">Nombre Empresa</th>
                                        <th scope="col">Aplicación</th>
                                        <th scope="col">Versión</th>
                                        <th scope="col">Fecha y Hora de Registro SM</th>
                                        <th scope="col">Tipo SM</th>
                                        <th scope="col">Criticidad SM</th>
                                        <th scope="col">Solicitante</th>
                                        <th scope="col">Fecha de Necesidad</th>
                                        <th scope="col">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let solicitud of proyecto.solicitudes">
                                        <ng-container
                                            *ngIf="solicitud.buscarHistorialActual().getEstado().getNombre() === 'EnEjecucion'">
                                            <td><a class="linkSolicitud"
                                                (click)="navegarASolicitud(jefe,solicitud.identificadorSM)">{{solicitud.identificadorSM}}</a>
                                            </td>
                                            <td>{{proyecto.nombreClave}}</td>
                                            <td>{{proyecto.cliente.nombre}}</td>
                                            <td>{{proyecto.aplicacion.nombre}}</td>
                                            <td>{{proyecto.aplicacion.numeroVersion}}</td>
                                            <td>{{solicitud.fechaCreacion | date:'medium'}}</td>
                                            <td>{{solicitud.tipo.nombre}}</td>
                                            <td>{{solicitud.criticidad.nombre}}</td>
                                            <td>{{solicitud.creador.nombre}} {{solicitud.creador.apellido}}
                                            </td>
                                            <td>{{solicitud.fechaNecesidad | date:'medium'}}</td>
                                            <td>{{solicitud.descripcion}}</td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-container *ngIf="mostrandoSolicitud">
    <div class="row mt-4 ml-3">
        <div class="col">
            <button (click)="navegarAtras()" class="btn btn-primary btn-outline"><i
                    class="fas fa-long-arrow-alt-left"></i> Solicitudes En Ejecución</button>
        </div>
    </div>
    <app-solicitudes [jefe]="jefe" [idSolicitud]="idSolicitud"></app-solicitudes>
</ng-container>