<app-navbar [usuario]="usuario"></app-navbar>

<div class="row mt-5 text-center">
    <div class="col">
        <h1>POLOC</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <h2>Sistema de Gestión de Solicitudes de Mantenimiento</h2>
    </div>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-outline-primary" (click)="registrarSM()">
                Registrar SM
            </button><br>
            <small class="text-muted">*prototipo no implementado</small>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary" (click)="generarReporteSM()">
                Generar Reporte SM
            </button><br>
            <small class="text-muted">*prototipo no implementado</small>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="finalizarSM()">Registrar Resolucion de SM</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="listarSolicitudes()">Listado de Solicitudes</button>
        </div>
    </div>
</div>