<app-navbar [usuario]="usuario"></app-navbar>


<ng-container *ngIf="confirmando">
    <div class="container mt-4 text-center">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¿Confirmar registro de nueva solicitud de mantenimiento?</h4>
            <p>Se creará la solicitud de mantenimiento</p>
            <hr>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button class="btn btn-primary">Confirmar</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!confirmando">
    <div class="container">

        <div class="row mt-4 ml-3">
            <div class="col">
                <button (click)="navegarAtras()" class="btn btn-primary btn-outline"><i
                        class="fas fa-long-arrow-alt-left"></i> Home</button>
            </div>
        </div>

        <div class="row text-center mt-4">
            <div class="col">
                <h1>Registrar Nueva Solicitud de Mantenimiento</h1>
            </div>
        </div>

        <div class="strike">
            <span>Proyecto Seleccionado</span>
        </div>

        <div class="table-responsive-md">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre del Proyecto</th>
                        <th scope="col">Nombre Clave</th>
                        <th scope="col">Aplicación</th>
                        <th scope="col">Version de Aplicación</th>
                        <th scope="col">Lider del Proyecto</th>
                        <th scope="col">Jefe del Proyecto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">La Doce</th>
                        <td>ladoce</td>
                        <td>App 1</td>
                        <td>v1.0</td>
                        <td>Nicolas Petraglia</td>
                        <td>Pablo</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="strike">
            <span>Nueva Solicitud</span>
        </div>


        <form method="POST" action="#">
            <div class="form-row">
                <div class="col">
                    <label for="nombreSolicitud">Nombre</label>
                    <input id="nombreSolicitud" type="text" class="form-control" placeholder="Nombre Solicitud">
                </div>

                <div class="col">
                    <label for="fechaSolicitud">Fecha de Necesidad</label>
                    <input id="fechaSolicitud" type="date" class="form-control">
                </div>

            </div>

            <div class="form-row mt-3">
                <div class="col">
                    <label for="descripcionSolicitud">Descripción</label>
                    <textarea id="descripcionSolicitud" class="form-control" placeholder="Descripción"></textarea>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col">
                    <label for="tiposSolicitud">Tipo</label>
                    <select id="tiposSolicitud" class="form-control">
                        <option value="tipo1">Nuevo Requerimiento</option>
                        <option value="tipo2">Correctivo</option>
                        <option value="tipo3">Cambio</option>
                    </select>
                </div>

                <div class="col">
                    <label for="criticidadesSolicitud">Criticidad</label>
                    <select id="criticidadesSolicitud" class="form-control">
                        <option value="tipo1">Crítico</option>
                        <option value="tipo2">Bloqueante</option>
                        <option value="tipo3">Medio</option>
                        <option value="tipo4">Deseado</option>
                    </select>
                </div>
            </div>

            <div class="form-row justify-content-center mt-3">
                <div class="col">
                    <div class="custom-file adjuntarArchivo">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Adjuntar Archivo (opcional)</label>
                    </div>

                </div>
            </div>

            <div class="form-row text-center mt-3 mb-4">
                <div class="col columna">
                    <button type="submit" class="btn btn-primary" (click)="confirmar()">Confirmar Solicitud</button>
                </div>
                <div class="col columna">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</ng-container>