<ng-container *ngIf="!confirmando && !notificando">
    <ng-container *ngIf="!mostrandoTicket">
        <div class="row mt-4 text-center">
            <div class="col">
                <h1>Solicitud Seleccionada</h1>
            </div>
        </div>

        <div class="container mt-3">
            <div class="table-responsive-md">
                <table class="table table-bordered table-hover table-sm text-center table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Identificador de SM</th>
                            <th scope="col">Nombre Proyecto</th>
                            <th scope="col">Nombre Empresa</th>
                            <th scope="col">Aplicación</th>
                            <th scope="col">Versión</th>
                            <th scope="col">Fecha y Hora de Registro SM</th>
                            <th scope="col">Tipo SM</th>
                            <th scope="col">Criticidad SM</th>
                            <th scope="col">Nombre y Apellido Usuario</th>
                            <th scope="col">Fecha de Necesidad</th>
                            <th scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let proyecto of jefe.getProyectosQueDirige()">
                            <ng-container *ngIf="usuario === jefe.getUsuario().getNombreUsuario()">
                                <tr *ngFor="let solicitud of proyecto.getSolicitudes()">
                                    <ng-container *ngIf="idSolicitud === solicitud.getIdentificador()">
                                        <td><strong>{{solicitud.identificadorSM}}</strong></td>
                                        <td>{{proyecto.nombreClave}}</td>
                                        <td>{{proyecto.cliente.nombre}}</td>
                                        <td>{{proyecto.aplicacion.nombre}}</td>
                                        <td>{{proyecto.aplicacion.numeroVersion}}</td>
                                        <td>{{solicitud.fechaCreacion | date:'medium'}}</td>
                                        <td>{{solicitud.tipo.nombre}}</td>
                                        <td>{{solicitud.criticidad.nombre}}</td>
                                        <td>{{solicitud.creador.nombre}} {{solicitud.creador.apellido}}</td>
                                        <td>{{solicitud.fechaNecesidad | date}}</td>
                                        <td>{{solicitud.descripcion}}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>



                <ng-container *ngFor="let proyecto of jefe.getProyectosQueDirige()">
                    <ng-container *ngIf="usuario === jefe.getUsuario().getNombreUsuario()">
                        <ng-container *ngFor="let solicitud of proyecto.getSolicitudes()">

                            <ng-container *ngIf="idSolicitud === solicitud.getIdentificador()">
                                <div class="strike">
                                    <span>Plan Asociado</span>
                                </div>
                                <div class="row text-center">
                                    <div class="col">
                                        <h4>Fecha Inicio Resolución:
                                            {{getUltimoPlan().getFechaInicioResolucion() | date:'medium'}} </h4>
                                    </div>
                                    <div class="col">
                                        <h4>Fecha Fin Resolución:
                                            {{getUltimoPlan().getFechaFinResolucion() | date:'medium'}}</h4>

                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <div class="strike">
                    <span>Tickets Asociados</span>
                </div>


                <div class="table-responsive-md text-center">
                    <table class="table table-bordered table-hover table-striped table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Visualizar Ticket</th>
                                <th scope="col">Identificador</th>
                                <th scope="col">Nombre Tarea</th>
                                <th scope="col">Nombre Miembro Asignado</th>
                                <th scope="col">Horas Consumidas</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let proyecto of jefe.getProyectosQueDirige()">
                                <ng-container *ngIf="usuario === jefe.getUsuario().getNombreUsuario()">
                                    <ng-container *ngFor="let solicitud of proyecto.getSolicitudes()">


                                        <ng-container *ngIf="idSolicitud === solicitud.getIdentificador()">
                                            <tr *ngFor="let ticket of getUltimoPlan().getTickets()">
                                                <td><input #seleccionado class="form-check-input" type="checkbox"
                                                        (change)="agregarTicket(ticket,seleccionado.checked)"></td>
                                                <td><a class="linkSolicitud">{{ticket.getIdentificadorTicket()}}</a>
                                                </td>
                                                <td>{{ticket.getTarea().getNombre()}}</td>
                                                <td>{{ticket.getMiembroAsignado().getNombre()}}
                                                    {{ticket.getMiembroAsignado().getApellido()}}</td>
                                                <td>{{ticket.calcularHorasConsumidas()}}</td>
                                            </tr>

                                        </ng-container>


                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

                <div class="row text-center mt-4">
                    <div class="col">
                        <button class="btn btn-primary" type="button" (click)="mostrarTickets()">Mostrar
                            Tickets</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="strike">
            <span>Finalizar Solicitud</span>
        </div>


        <div class="row mt-3 mb-5 text-center">
            <div class="col">
                <button class="btn btn-primary" type="button" (click)="resolverSM()">Confirmar Resolución SM</button>
            </div>
            <div class="col">
                <button class="btn btn-danger" type="button" (click)="navegarAtras()">Cancelar</button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="mostrandoTicket">

        <div class="row mt-4 ml-3">
            <div class="col">
                <button (click)="navegarAtras()" class="btn btn-primary btn-outline"><i
                        class="fas fa-long-arrow-alt-left"></i> Solicitud Seleccionada</button>
            </div>
        </div>

        <app-ticket [tickets]="tickets"></app-ticket>

    </ng-container>



</ng-container>

<ng-container *ngIf="confirmando && !notificando">
    <div class="container mt-4 text-center">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¿Confirmar resolución de solicitud de mantenimiento?</h4>
            <p>Se registrará la solicitud: {{idSolicitud}} como resuelta</p>
            <hr>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button class="btn btn-primary" (click)="finalizarSM()">Confirmar</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger" (click)="navegarAtras()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="notificando">

    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Solicitud resuelta correctamente!</h4>
            <p>La solicitud {{idSolicitud}} se registró como resuelta correctamente</p>
            <hr>

            <ng-container *ngFor="let proyecto of jefe.getProyectosQueDirige()">
                <ng-container *ngIf="usuario === jefe.getUsuario().getNombreUsuario()">
                    <ng-container *ngFor="let solicitud of proyecto.getSolicitudes()">
                        <ng-container *ngIf="idSolicitud === solicitud.getIdentificador()">
                            <p class="mb-0">Se enviará una notificación al usuario {{solicitud.getSolicitante().getNombre()}} {{solicitud.getSolicitante().getApellido()}} al correo {{solicitud.getSolicitante().getCorreoElectronico()}}.</p>
                            <p class="mb-0">Con los siguientes datos:</p>
                            <p class="mb-0">-Nombre solicitud: {{solicitud.getNombre()}}</p>
                            <p class="mb-0">-Identificador solicitud: {{solicitud.getIdentificador()}}</p>
                            <p class="mb-0">-Tipo solicitud: {{solicitud.getTipoSM().getNombre()}}</p>
                            <p class="mb-0">-Criticidad solicitud: {{solicitud.getCriticidadSM().getNombre()}}</p>
                            <p class="mb-0">-Descripcion solicitud: {{solicitud.getDescripcion()}}</p>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>

</ng-container>