<div class="container">


    <div class="row mt-5 text-center">
        <div class="col">
            <h2>POLOC - Sistema de Gestión de Solicitudes de Mantenimiento</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-1">
                        <div class="col-md-12 text-center">
                            <img class="imagenUsuario" src="assets/img/user.png" alt="" srcset="">
                        </div>
                    </div>
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input #usuario type="text" class="" [className]="usuarioValido ? 'form-control' : 'form-control is-invalid' " ([ngModel])="usuario" 
                                id="usuario" placeholder="Usuario" (keyup)="setUsuario(usuario.value)" required>
                            <ng-container *ngIf="!usuarioValido">
                                <div class="invalid-feedback">
                                    Usuario No Encontrado
                                </div>
                            </ng-container>
                            <div class="valid-tooltip">
                                    Looks good!
                                  </div>
                        </div>
                        <div class="form-group">
                            <label for="clave">Contraseña</label>
                            <input type="password" id="clave" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                                (click)="iniciarSesion()">Iniciar Sesión</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 text-center">
        <div class="col">
            <h6>Los usuarios autorizados son <strong>"gvelez"</strong> y <strong>"lbarale"</strong></h6>
        </div>
    </div>

</div>