<app-navbar [usuario]="usuario"></app-navbar>

<ng-container *ngIf="confirmando && !visualizando">
    <div class="container mt-4 text-center">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¿Confirmar generación de reporte de solicitud de mantenimiento?</h4>
            <p>Se generará el reporte de la solicitud de mantenimiento</p>
            <hr>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button class="btn btn-primary" (click)="visualizar()">Confirmar</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!confirmando && !visualizando">
    <div class="row mt-4 ml-3">
        <div class="col">
            <button (click)="navegarAtras()" class="btn btn-primary btn-outline"><i
                    class="fas fa-long-arrow-alt-left"></i>
                Home</button>
        </div>
    </div>

    <div class="row text-center mt-3">
        <div class="col">
            <h1>Generar Reporte de SM</h1>
        </div>
    </div>


    <div class="container">

        <form method="POST" action="reporte.html">

            <div class="strike">
                <span>Proyecto Seleccionado</span>
            </div>

            <div class="table-responsive-md text-center">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre del Proyecto</th>
                            <th scope="col">Aplicación</th>
                            <th scope="col">Version de Aplicación</th>
                            <th scope="col">Lider del Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">La Doce</th>
                            <td>App 1</td>
                            <td>v1.0</td>
                            <td>Nicolas Petraglia</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="strike">
                <span>Solicitudes de Mantenimiento Cerradas</span>
            </div>

            <div class="table-responsive-md text-center">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Seleccionar Solicitud</th>
                            <th scope="col">Identificador</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo SM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><input class="form-check-input" type="checkbox" checked></th>
                            <td>ladoce1234</td>
                            <td>SM 1</td>
                            <td>Cambio</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="strike">
                <span>Información de Solicitud de Mantenimiento</span>
            </div>

            <div class="table-responsive-md text-center">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Fecha de Necesidad</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Criticidad</th>
                            <th scope="col">Nombre Usuario Solicitante</th>
                            <th scope="col">Área o Gerencia</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Fecha Inicio Resolución</th>
                            <th scope="col">Fecha Fin Resolución</th>
                            <th scope="col">Costo Total Solución</th>
                            <th scope="col">Horas Consumidas</th>
                            <th scope="col">Tickets Asociados</th>
                            <th scope="col">Recursos por Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/03/19</td>
                            <td>Descripcion</td>
                            <td>Crítico</td>
                            <td>Juan Martinez</td>
                            <td>Area 1</td>
                            <td>Dirección</td>
                            <td>15/12/18</td>
                            <td>01/02/19</td>
                            <td>$15.000</td>
                            <td>31</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="strike">
                <span>Información de Tareas</span>
            </div>


            <div class="table-responsive-md text-center">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre Tarea</th>
                            <th scope="col">Horas Consumidas</th>
                            <th scope="col">Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Testing</td>
                            <td>10</td>
                            <td>4840</td>
                        </tr>
                        <tr>
                            <td>Corrección de Código</td>
                            <td>14</td>
                            <td>6776</td>
                        </tr>
                        <tr>
                            <td>Análisis</td>
                            <td>7</td>
                            <td>3388</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="strike">
                <span>Detalle de Solución Implementada</span>
            </div>

            <div class="form-row justify-content-center">
                <div class="col-10">
                    <textarea id="detalleSolucion" class="form-control" placeholder="Detalle Solucion"></textarea>
                </div>
            </div>

            <div class="form-row text-center mt-4">
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="confirmar()">Confirmar Generación de
                        Reporte</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary">Cancelar</button>
                </div>
            </div>
            <br>
        </form>

    </div>
</ng-container>

<ng-container *ngIf="visualizando">
    <div class="container mt-4">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">
                <h1>Visualización del Reporte: </h1>
            </h4>
            <br>
            <h2>Proyecto</h2>
            <p>-Fecha de Generación: 13/11/10</p>
            <p>-Jefe de Proyecto: Pablo Castedo </p>
            <p>-Lider de Proyecto: Nicolas Petraglia</p>
            <p>-Nombre del Proyecto: LaDoce</p>
            <p>-Empresa Cliente: IBM</p>
            <p>-Aplicación: Aplicación 1</p>
            <p>-Versión: 1.0.1</p>
            <hr>
            <h2>Solicitud</h2>
            <p>-Identificador SM: ladoce1234</p>
            <p>-Tipo SM: Cambio</p>
            <p>-Fecha Generación: 12/12/18</p>
            <p>-Fecha Necesidad: 01/03/19</p>
            <p>-Descripcion: Descripción1</p>
            <p>-Criticidad: Critico</p>
            <p>-Usuario Solicitante: Juan Martinez</p>
            <p>-Fecha Inicio Prevista: 14/12/18</p>
            <p>-Fecha Fin Prevista: 15/02/19</p>
            <p>-Fecha Inicio Real: 15/12/18</p>
            <p>-Fecha Fin Real: 01/02/19</p>
            <p>-Costo Total: usd$15.000</p>
            <p>-Horas Consumidas: 31</p>
            <p>-Tickets Asociados: 3</p>
            <p>-Recursos Por Rol: 2</p>
            <hr>
            <h2>Tareas</h2>
            <p>-Testing: 10 horas, usd$500/hora</p>
            <p>-Corrección de Código: 14 horas, usd$357.14</p>
            <p>-Análisis: 7 horas, usd$714.28</p>
            <hr>
            <h2>Tickets</h2>
            <table class="table table-striped table-sm">
                <thead>
                    <th scope="col">Id</th>
                    <th>Tarea</th>
                    <th>Rol</th>
                    <th>Miembro Equipo</th>
                    <th>Costo</th>
                    <th>Horas Consumidas</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                </thead>
                <tbody>
                    <tr>
                        <td>t1sm1</td>
                        <td>Testing</td>
                        <td>Tester</td>
                        <td>Juan Martinez</td>
                        <td>5000</td>
                        <td>10</td>
                        <td>01/01/01</td>
                        <td>01/01/01</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h2>Formato de Salida</h2>
            <div class="form-row justify-content-center">
                <div class="col-8">
                    <label for="formatoDeSalida">Formato de Salida del Reporte</label>
                    <select id="formatoDeSalida" class="form-control">
                        <option value="tipo1">Impreso</option>
                        <option value="tipo2">PDF</option>
                        <option value="tipo3">XLS</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button class="btn btn-primary">Confirmar</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>