<app-navbar [usuario]="usuario"></app-navbar>

<div class="row mt-4 ml-3">
    <div class="col">
        <button (click)="navegarAtras()" class="btn btn-primary btn-outline">Atras</button>
    </div>
</div>


<ng-container *ngIf="!visualizandoHistorial">
    <div class="row mt-4 text-center">
        <div class="col">
            <h1>Listado de Solicitudes</h1>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive-md">
            <table class="table table-bordered table-hover table-sm text-center table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Identificador de SM</th>
                        <th scope="col">Jefe de Proyecto</th>
                        <th scope="col">Fecha y Hora de Registro SM</th>
                        <th scope="col">Tipo SM</th>
                        <th scope="col">Criticidad SM</th>
                        <th scope="col">Nombre y Apellido Solicitante</th>
                        <th scope="col">Historial de Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let jefe of jefes">
                        <ng-container *ngFor="let proyecto of jefe.proyectosQueDirige">
                            <tr *ngFor="let solicitud of proyecto.solicitudes">
                                <td><a>{{solicitud.identificadorSM}}</a>
                                </td>
                                <td>{{jefe.getNombre()}} {{jefe.getApellido()}}</td>
                                <td>{{solicitud.fechaCreacion | date:'medium'}}</td>
                                <td>{{solicitud.tipo.nombre}}</td>
                                <td>{{solicitud.criticidad.nombre}}</td>
                                <td>{{solicitud.creador.nombre}} {{solicitud.creador.apellido}}</td>
                                <td class="linkSolicitud" (click)="verHistorial(solicitud)">Ver historial de estado</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="visualizandoHistorial">
    <app-estados [solicitud]="solicitud"></app-estados>
</ng-container>