<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Digital ADM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link home" [routerLink]="['/home',usuario]" >Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item ml-2">
                <img src="assets/img/user.png" class="imagenNavBar" alt="" srcset="">
            </li>
            <li class="nav-item ml-2">
                <span class="navbar-text usuarioNavBar">Usuario: {{usuario}}</span>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link cerrarSesion" (click)="cerrarSesion()">[Cerrar Sesión]</a>
            </li>
        </ul>
    </div>
</nav>