/* body{
    background: #f17b36;
} */

body{
    background: #c8d6e5;
}

.titulo{
    color: #f17b36;   
}

.navbar{
    background:#f17b36 !important;
}

.imagenNavBar{
    width: 30px;
    height: 30px;
}

.cerrarSesion{
    cursor: pointer !important;
    color: blue !important;
}

.home{
    cursor: pointer !important;
    color: black !important;
}

.usuarioNavBar{
    color: black !important;
}

.linkSolicitud{
    cursor: pointer;
    color: blue !important;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin: 20px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: grey;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}