<ng-container *ngIf="tickets.length === 0">
    <div class="row mt-3 text-center">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                No hay tickets seleccionados!!
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="tickets.length > 0">

    <div class="row mt-3 text-center">
        <div class="col">
            <h1>Tickets Seleccionados</h1>
        </div>
    </div>

    <div class="container mt-3">
        <div class="table-responsive-md text-center">
            <table class="table table-bordered table-hover table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Fecha Inicio Prevista</th>
                        <th scope="col">Fecha Fin Prevista</th>
                        <th scope="col">Horas Estimadas</th>
                        <th scope="col">Horas Consumidas</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <th scope="col">{{ticket.getIdentificadorTicket()}}</th>
                        <td>{{ticket.getFechaInicioPrevista() | date:'medium'}}</td>
                        <td>{{ticket.getFechaFinPrevista() | date:'medium'}}</td>
                        <td>{{ticket.getHorasEstimadas()}}</td>
                        <td>{{ticket.calcularHorasConsumidas()}}</td>
                        <td>{{ticket.calcularCostoAsociado() | currency}}</td>
                        <ng-container *ngFor="let comentario of ticket.getComentarios()">
                            <p>
                                {{comentario.getComentario()}}
                            </p>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</ng-container>